#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media only screen and (max-width: 640px) {
  #root {
    padding: 8px;
  }
}

.card {
  padding: 2em;
}

.foot-disclaimer {
  color: #888;
}
